0 0,12 * * * curl -u "${BASIC_AUTH_USER}:${BASIC_AUTH_PASSWORD}" -X POST "${LABORABILITY_BE_BASE_URL}/api/v1/users/sync_all_users" -H "Content-Type: application/json" >/proc/1/fd/1 2>/proc/1/fd/2
0 12 * * * curl -u "${BASIC_AUTH_USER}:${BASIC_AUTH_PASSWORD}" -X POST "${LABORABILITY_BE_BASE_URL}/api/v1/measures/status_measure" -H "Content-Type: application/json" >/proc/1/fd/1 2>/proc/1/fd/2

# An empty line is required at the end of this file for a valid cron file.
